.custom-options input{
    transform: scale(0.5);
    margin-top: 8px;
    border: 4px solid rgb(128, 124, 124);
    cursor: pointer;
    background-color: transparent !important;

}
.custom-options label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.custom-control{
    padding: 14px;
}
.btnBillingInfos:hover{
    border: none;
    transform: none;
    outline: none;
    color: #b2adad;
}
.custom-input-calendar{
    text-align: left;
    font-weight: normal;
    cursor: pointer;
    border: 1px solid rgb(176, 173, 173);
}
